<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h1>Css Isolation Demo</h1>
            <div class="div-isolation-demo">
                Demo
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <h1>Js Isolation Demo</h1>
            <button class="btn btn-dark" @onclick="this.OnClickAlert">Alert</button>
        </div>
    </div>
</div>