<div class="color">
    Hello Blazor and CSS
</div>

<button class="btn btn-primary" @onclick="this.OnClickCssChange">On Change Css</button>

<div @ref="this.DivElement">
    Hello Blazor and Js
</div>